
h2 {
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 15px;
    width: 100%;
    display: block; 
    box-sizing: border-box; 
}


.palette div {
    width: 250px;
    height: 250px;
    margin: 15px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}


.c1 { background-color: #FF5733; }
.c2 { background-color: blue; }
.c3 { background-color: rgb(0, 200, 80); }
.c4 { background-color: rgba(255, 0, 0, 0.5); }
.c5 { background-color: rgb(50%, 20%, 80%); color: rgb(1, 7, 1); }


.encabezado {
    width: 100%;
    height: 300px;
    background-image: url(/recursos/R\ \(1\).jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.encabezado h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 120px;
}

.capa {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
}


.g1, .g2, .g3 {
    width: 250px;
    height: 200px;
    margin: 15px;
    font-size: 22px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.g1 { background: linear-gradient(90deg, green, orange, rgb(126, 19, 128)); }
.g2 { background: linear-gradient(45deg, rgb(16, 226, 23), rgb(30, 255, 0), rgb(251, 0, 255)); }
.g3 { background: radial-gradient(circle, rgb(16, 213, 32), rgb(240, 23, 23), rgb(19, 185, 191)); }

.banner {
    width: 350px;
    height: 140px;
    background: linear-gradient(90deg, #ff8a00, #ff2e63);
    color: rgb(9, 1, 1);
    font-size: 40px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    background-image: url(./recursos/R\ \(2\).jpeg);
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}


body{
    background-image: url(./recursos/R\ \(3\).jpeg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
      border: 10px solid white; 
    margin: 20px; 
    padding: 20px; 
    box-sizing: border-box;
}